<!DOCTYPE html>
<html lang="de">  
  <head>
    <!--Die Gestaltung der Elemente der 
      HTML-Seite wird in der styles.css festgelegt-->
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    <title>Aufgabe 1!</title>
  </head>
  <body>
    <header>
    <h1 style="background-color: rgb(76, 137, 187) ; display: flex;">Schleifen - Aufgabe 1!</h1>  
      
      <nav style="background-color: rgb(158, 158, 158);">      
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                               
        <a style="margin-left: 80%;" href="/hilfebereich">Hilfe</a>
       
      </nav>   
      <div style="display: flex;">
        <h2 style=" color: black ; margin: auto; font-size: 150%;"> In der ersten Aufgabe sollst du mit fest eingetragenen Werten in Visual Studio Code arbeiten. Das Ziel ist das beim drücken des Knopfes das gewünschte Ergebnis als Meldung auftaucht. Gehe in die Server.js und schau an welcher Stelle die For Schleife schon vorbereitet ist und vollende diese! Falls du nicht weiter kommst schau einfach im <a style="color: black; " href="/hilfebereich">Hilfebereich</a>, im nav Tag, vorbei! </h2> 
      </div>
      <br>
    </header>
    <form method="POST" action="/Fertig">
         
        <button style="background-color: rgb(76, 137, 187);">Fertig</button>
    </form >
      <label style="margin-left: 45%; color: black; "><%= meldung %></label>
  </body>
</html>